{erl_opts, [no_debug_info]}.

{deps, [
    {getopt, "1.0.2"},
    {uuid, "2.0.4", {pkg, uuid_erl}},
    {termseal, {git, "https://github.com/grisp/termseal.git", {branch, "main"}}}
]}.

{escript_incl_apps, [grisp_updater_tools]}.
{escript_main_app, grisp_updater_tools}.
{escript_name, grisp_updater_tools}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{post_hooks, [
    {escriptize, "cp _build/default/bin/grisp_updater_tools scripts/"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
